*{
	border: 0;
	padding: 0;
	margin: 0;
}

.bg-body{
	background-color: #F0FFFF;
}

.mr10{
	margin-right: 10px;
}
.mt10{
	margin-top: 10px;
}
.hide{
	display: none;
}
.inlinebl{
	display: inline-block;
}
.info{
	color: green;
}
.btn{
	border: 1px solid blue;
	border-radius: 4px;
	background-color: #F0FFFF;
	width: 50px;
	display: inline-block;
}
.btn:hover{
	background-color: #EEEEEE;
}
.btn:active{
    
    background-color: #EEE685;
}