*{
	border: 0;
	padding: 0;
	margin: 0;
}

.bg-body{
	background-color: #F0FFFF;
}

.mr10{
	margin-right: 10px;
}
.mt10{
	margin-top: 10px;
}
.hide{
	display: none;
}
.inlinebl{
	display: inline-block;
}
.info{
	color: green;
}
